/* Styling the div container*/ 
body {
    margin: 0;
font-family: Georgia, 'Times New Roman', Times, serif;
}

.app{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header{
    text-align: center;
    padding: 20px;
}

.header h1 {
    margin: 0 0 10px 0;
}

.header select{
    font-size: 1rem;
}
.slideshow {
    flex: 1;
    background-color: #333;
    position: relative;
}

/* styling div to display images*/
.slide {
    position:absolute;
    top: 0;
    bottom:0;
    left:0;
    right:0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}